nav {
	text-align: center;
}

.pagination>li>a {
	font-size: 14px;
	padding: 15px 25px;
	background-color: #fff;
	border-radius: 0px;
	font-weight: 800;
	letter-spacing: 1px;
	color: #404040;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.pagination>li.active>a {
	color: #fff;
	text-shadow: none;
	background: #0085a1
}

.pagination>li.active>a:hover {
	background: #0085a1
}

.pagination>li:first-child>a, .pagination>li:last-child>a {
	border-radius: 0px
}

.back-to-top:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.back-to-top:hover,
.back-to-top:active,
.back-to-top:hover:focus,
.back-to-top:hover:link,
.back-to-top:visited{
	text-decoration: none;
}

.back-to-top {
	visibility:hidden;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: fixed;
	bottom: 3em;
	right: 3em;
	text-decoration: none;
	color: #EEEEEE;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 25px;
	padding: 0.1em 0.3em;
	display: none;
	border-radius: 1px;
	border: 1px solid #CCCCCC;
}

@media screen and (max-width: 800px){
	.back-to-top {
		visibility: hidden;
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		position: fixed;
		bottom: 0px;
		right: 0px;
		text-decoration: none;
		color: #EEEEEE;
		background-color: rgba(0, 0, 0, 0.3);
		font-size: 25px;
		padding: 0.1em 0.3em;
		display: none;
		border-radius: 1px;
		border: 1px solid #CCCCCC;
	}
}