<!DOCTYPE html>
<html lang="zh-CN">

{% include 'blog/head.html' %}

<body>

    {% include 'blog/nav.html' %}

    {% block content %} {% endblock %}

    {% include 'blog/footer.html' %}

</body>

</html>