<!-- Footer -->
{% load staticfiles %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                    {% endif %}
                </ul>
                <a href="#" class="back-to-top" style="display: inline;">&and;</a>
                <p class="copyright text-muted">Copyright &copy; {{ site.title }} {% now "Y"%}</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{% static 'blog/js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'blog/js/clean-blog.min.js' %}"></script>
<script src="{% static 'blog/js/myblog.js' %}"></script>