{% extends 'blog/page.html' %}
{% block pagecontent %}
{% load liquidfilters %}
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{% url 'post' post.posturl %}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posté par {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date:'-d F, Y' }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{% url 'archive' paginator.previous_page_path %}">&larr; Page Précédante</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{% url 'archive' paginator.next_page_path %}">Page Suivante &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
{% endblock %}