{% extends 'blog/default.html' %}
{% block content %}
{% load staticfiles %}
<!-- Page Header -->
<header class="intro-header" style="background-image: url('{% if page.headerimg %}{% static page.headerimg %}{% else %}{% static site.headerimg %}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{% block pagecontent %} {% endblock %}
		</div>
	</div>
</div>

<hr>
{% endblock %}