
{% extends 'blog/default.html' %}
{% load liquidfilters %}
{% load staticfiles %}
{% block content %}

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{% if page.headerimg %}{% static page.headerimg %}{% else %}{% static site.headerimg %}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posté par {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} le {{ page.date | date:'-d F , Y' }} <br />Derniere modification: {{ page.lastEdit | lastedit }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ page.text|escape }}

                <hr>

                <ul class="pager">
                    {% if page.previous.posturl %}
                    <li class="previous">
                        <a href="{% url 'post' page.previous.posturl %}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Article précédent</a>
                    </li>
                    {% endif %}
                    {% if page.next.posturl %}
                    <li class="next">
                        <a href="{% url 'post' page.next.posturl %}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Article Suivant &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>
{% endblock %}